# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/auth_mastery
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=auth_mastery

# Better Auth
BETTER_AUTH_SECRET=your-secret-key
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Arcjet
ARCJET_API_KEY=your-api-key

# Social Providers
DISCORD_CLIENT_ID=your-client-id
DISCORD_CLIENT_SECRET=your-secret-key
GITHUB_CLIENT_ID=your-client-id
GITHUB_CLIENT_SECRET=your-secret-key

# Postman
POSTMARK_SERVER_TOKEN=your-server-token
POSTMARK_FROM_EMAIL=your-from-email

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-webhook-secret
STRIPE_PUBLISHABLE_SECRET=your-publishable-key
STRIPE_BASIC_PRICE_ID=your-basic-price-id
STRIPE_PRO_PRICE_ID=your-pro-price-id